@using Magic.Models
@model Magic.Models.ChatLog

<div class="chat-container">
    <h3>Discuss</h3>
    Want to ask a question or join in the talk about Magic events? <br />

    @if (Request.IsAuthenticated)
    {
        @: Please show class and be polite and respectful towards other people.

        <p class="form-horizontal form-group">
            @Html.TextBox("chat-message", null, new { id = "chat-message", @class = "form-control" })

            <input type="button" id="chat-send" class="btn btn-primary" value="Send" />
        </p>
    }
    else
    {
        @: Log in to take part in the chat conversation with other users!
    }

    <div class="form-control chat-log" style="width: 500px; height: 215px; overflow: auto;">
        <ul id="discussion" style="list-style-type: none; margin:0px">
            @if (Model != null)
            {
                foreach (var message in Model.MessageLog)
                {
                    <li>
                        @message.TimeSend.Value.ToString("HH:mm:ss") <span class="chat-message-sender" style="font-weight:bold">@message.Sender.UserName</span>
                        @if (message.Recipient != null) {
                            <span class="chat-message-recipient" style="font-weight:bold">@@@message.Recipient.UserName</span>
                        }
                        @message.Message
                    </li>
                }
            }
        </ul>
    </div>
</div>

@*----------------------------------------------------- SCRIPT -----------------------------------------------------*@
@Scripts.Render("~/bundles/jquerysignalR")
@Scripts.Render("~/signalr/hubs")
@Scripts.Render("~/Scripts/_ChatScript.js")