@using Magic.Hubs;

<style>
    .chat-user {
        font-weight: bold;
    }

    #chat-users {
        list-style-type: none;
    }

    .container {
        height: auto;
        width: 100%;
        overflow: hidden;
    }

    .left {
        width: auto;
    }

    .right {
        float: right;
    }

    ul {
        padding: 0px 0px 0px 3px;
        margin: 0px
    }

    #chat-room-users-selectlist li {
        float: left;
        display: block;
        line-height: 34px;
        overflow: hidden;
        text-align: center;
        border: 1px solid transparent;
        border-radius: 4px;
        color: #ffffff;
        background-color: #428bca;
        border-color: #357ebd;
    }

</style>

<input type="button" id="add-tab" class="btn btn-primary" value="Add" style="display: inline; margin: 0px 0px 3px 0px;" />
<input type="button" id="remove-tab" class="btn btn-primary" value="Remove" style="display: inline; margin: 0px 0px 3px 0px;" />

<div class="chat container">

    <h3>Discuss</h3>
    @*Want to ask a question or join in the talk about Magic events? <br />*@

    <div class="container">

        <div class="container right" style="margin: 0px 0px 0px 6px; width: 100px; height: 255px">
            <ul id="chat-room-users-selectlist" style="width: auto; list-style-type: none; height: 34px; overflow: hidden; white-space: nowrap; padding:0px">
                <li class="chat-room-users-selection">
                    Online
                </li>
            </ul>

            <div class="form-control " id="chat-users-container" style="overflow: auto; height: 221px;">
                <ul id="chat-users">
                    <li class="chat-user"/>
                </ul>
            </div>
        </div>

        <div class="container left">

            @if (Request.IsAuthenticated)
            {
                //@: Please show class and be polite and respectful towards other people.

                <div class="container" style="margin: 0px 0px 3px 0px; white-space: nowrap;">

                    <input type="button" id="chat-room-selection" class="btn btn-primary" value="General" data-chatroomid="default" data-recipient="" style="position:absolute; width: auto; background:white;" />
                    @Html.TextBox("new-chat-message", null, new { id = "new-chat-message", @class = "form-control", style = "width:100%; max-width: 100%; display:inline; margin: 0px -63px 3px 0px; padding-right: 67px" })
                    <input type="button" id="new-chat-message-send" class="btn btn-primary" value="Send" style="width: 60px; display: inline; margin: 0px 0px 3px 0px;" />

                    <ul id="chat-room-selectlist" style="position: absolute; width: auto; display: none; list-style-type: none; background: #ffd800; margin:-3px 0px 0px 0px">
                        <li id="default">General</li>
                        <li id="">All</li>
                    </ul>
                </div>
            }
            else
            {
                //@: Log in to take part in the chat conversation with other users!
            }

            <div class="form-control" id="chat-messages-container" style="height: 215px; overflow: auto;">
                <ul id="chat-messages" style="list-style-type: none;">
                    @{ var recentLog = ChatHub.GetRecentChatLog();
                     if (recentLog != null)
                     {
                         foreach (var message in recentLog)
                         {
                            <li class="chat-message">
                                @message.TimeSend.Value.ToString("HH:mm:ss") <span class="chat-message-sender" style="font-weight:bold">@message.Sender.UserName</span>
                                @if (message.Recipient != null)
                                {
                                    <span class="chat-message-recipient" style="font-weight:bold">@@@message.Recipient.UserName</span>
                                }
                                @message.Message
                            </li>
                         }
                     }
                    }
                </ul>
            </div>

        </div>

    </div>

    <input type="checkbox" id="chat-messages-general-check" checked="checked"> General chat.
    <input type="checkbox" id="chat-messages-private-check" checked="checked"> Private chat.

</div>

@*----------------------------------------------------- SCRIPT -----------------------------------------------------*@
@Scripts.Render("~/bundles/jquerysignalR")
@Scripts.Render("~/signalr/hubs")
@Scripts.Render("~/Scripts/_chat.js")
@*@Scripts.Render("~/Scripts/_hub-start.js")*@
