<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="@Url.Content("~/Content/favicon.ico")" rel="shortcut icon" type="image/x-icon" />
    <title>@ViewBag.Title | justyna.co.uk</title>

    @Styles.Render("~/Content/css")
    @*@Styles.Render("~/Content/tooltipster.css")*@
    @Styles.Render("~/Content/chat.css")
    @Styles.Render("~/Content/twitterBootstrap")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquerysignalR")
    @Scripts.Render("~/bundles/twitterBootstrap")
    @Scripts.Render("~/Scripts/underscore.js")
    @Scripts.Render("~/Scripts/_helpers.js")
    @Scripts.Render("~/signalr/hubs")

    @RenderSection("additionalHeaderScriptsAndStyles", required: false)

</head>
<body>
    @{ Html.RenderPartial("_NavBarPartial"); }

    <div class="container body-content">
        <script>
            window.basePath = '@(Request.Url.GetLeftPart(UriPartial.Authority) + Request.ApplicationPath)';
        </script>
        @RenderBody()
        <hr />
        <div class="row">
            <div class="col-md-10">
                @{Html.RenderPartial("_ChatPartial");}
            </div>
        </div>
        <footer>
            <p>&copy; @DateTime.Now.Year Justyna</p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
    @Scripts.Render("~/Scripts/_hub-start.js")
</body>
</html>
