@model Magic.Models.GameViewModel

@{
    ViewBag.Title = "Game";
}

<h2>Welcome to the Game!</h2>
@Html.Partial("_MessagePartial")
@Html.HiddenFor(m => m.Id, new { id = "gameId"})

<div id="players-list">
    @foreach (var player in Model.Players)
    {
        <h2 class="player-name" style="color:#808080">@player.User.UserName</h2>
    }
</div>

<div class="row">
    @if(ViewBag.IsPlayer != null){
        <input type="button" id="player-ready" class="btn btn-primary" value="Ready to start" />
        //@Html.ActionLink("Start", "Start", "Game", null, new { @class = "btn btn-default", id="startGame"})
    }

    @Html.ActionLink("Pause", "Pause", "Game", null, new { @class = "btn btn-default" })
</div>

@*----------------------------------------------------- SCRIPT -----------------------------------------------------*@
@Scripts.Render("~/bundles/jquerysignalR")
@Scripts.Render("~/signalr/hubs")
@Scripts.Render("~/Scripts/_game.js")
@*@Scripts.Render("~/Scripts/_chat.js")
@Scripts.Render("~/Scripts/_hub-start.js")*@