@using Microsoft.AspNet.Identity
@model GameViewModel

@{
    ViewBag.Title = "Game";
}

<style>
    #players,
    #observers {
        
    }

     .player-ready {
         font-weight: bold;
     }

    #game-timer {
        font: 18px bold;
    }

    #game-field {
        height: 300px;
        width: 500px;
        background: #008b8b;
        border: 2px solid black;
        margin: 20px;
    }

    #game-field-overlay {
        width: 100%;
        height: 100%;
        background: #b0c4de;
        border: 2px solid black;
        -moz-filter: alpha(opacity=50);
        -o-filter: alpha(opacity=50);
        -webkit-filter: alpha(opacity=50);
        -ms-opacity: 0.5;
        filter: alpha(opacity=50);
        opacity: 0.5;
        text-transform: uppercase;
        text-align: center;
    }

    #game-field-message {
        height: 20px;
        opacity: 1;
        top: 50%-10px;
    }
</style>


@*<h2>Welcome to the Game!</h2>*@
@Html.Partial("_MessagePartial")
@Html.HiddenFor(m => m.Id, new { id = "gameId" })

<div id="players-container">
    <ul id="players">
        @foreach (var player in Model.Players)
        {
            <li class="player" style="color:#808080">@player.User.UserName</li>
        }
    </ul>
</div>

<div id="observers-container">
    <ul id="observers">
        @foreach (var user in Model.Observers)
        {
            <li class="observer" style="color:#000000">@user.UserName</li>
        }
    </ul>
</div>

<div class="row">
    <div>
        <span id="game-timer">00:00:00</span>
    </div>

    @if (ViewBag.IsPlayer != null)
    {
        @Html.Hidden("player", User.Identity.GetUserName(), new { id = "player" })
        <input type="button" id="player-ready-btn" class="btn btn-primary" value="Ready to start" />
        //@Html.ActionLink("Start", "Start", "Game", null, new { @class = "btn btn-default", id="startGame"})

        <input type="button" id="game-pause-btn" class="btn btn-default disabled" value="Pause" />
        //@Html.ActionLink("Pause", "Pause", "Game", null, new {id = "game-pause-btn", @class = "btn btn-default disabled"})
    }
    else
    {
        @Html.Hidden("observer", User.Identity.GetUserName(), new { id = "observer" })
    }
</div>


<div id="game-field">
    <div id="game-field-overlay"></div>
    <span id="game-field-message">Awaiting game start...</span>
</div>

@*----------------------------------------------------- SCRIPT -----------------------------------------------------*@
@section scripts
{
    @Scripts.Render("~/Scripts/_game.js")
}