@model Autographer.Models.LandingPages.IntroPanel

@Html.HiddenFor(m => m.Id)
@Html.HiddenFor(m => m.Type)

<div class="container clearfix" style="padding: 20px 0">
    <div id="leftPanel">
        <div class="property-editor" style="float: right; display: block; min-width: 55%; min-height: 650px">
            <div class="display-default" style="margin-bottom: 0;">
                <div class=" placeholder-img" style="min-height: 650px">Click to add image.</div>
                @*@Html.LabelFor(m => m.ImageUrl)*@
            </div>
            <div class="display-field img" style="margin-bottom: 0;">
                @Html.DisplayFor(m => m.ImageUrl, "Image")
            </div>
            <div class="editor-field" style="margin-bottom: 0;">
                @Html.EditorFor(m => m.ImageUrl, "UploadImage")
            </div>
                        @Html.ValidationMessageFor(m => m.ImageUrl)

            <div class="property-editor alt">
                <div class="display-default">
                    @Html.LabelFor(m => m.ImageDescription)
                </div>
                <div class="display-field">
                    @Html.DisplayFor(m => m.ImageDescription)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(m => m.ImageDescription, new { placeholder = "Image description (Alt text)" })
                    <input type="button" class="confirm-edit btn btn-info" value="OK!" />
                </div>
                @Html.ValidationMessageFor(m => m.ImageDescription)
            </div>
        </div>
    </div>

    <div id="rightPanel">
        <div id="topPanel">
            <div class="property-editor" style="float: left; min-width: 55%; min-height: 325px; margin-bottom: 0;">
                <div class="display-default" style="margin-bottom: 0;">
                    <div class=" placeholder-img" style="min-height: 325px"><label style="margin:auto">Click to add image.</label></div>
                    @*@Html.LabelFor(m => m.UpperImageUrl)*@
                </div>
                <div class="display-field img" style="margin-bottom: 0;">
                    @Html.DisplayFor(m => m.UpperImageUrl, "Image")
                </div>
                <div class="editor-field" style="margin-bottom: 0;">
                    @Html.EditorFor(m => m.UpperImageUrl, "UploadImage")
                </div>
                                @Html.ValidationMessageFor(m => m.UpperImageUrl)

                <div class="property-editor alt">
                    <div class="display-default">
                        @Html.LabelFor(m => m.UpperImageDescription)
                    </div>
                    <div class="display-field">
                        @Html.DisplayFor(m => m.UpperImageDescription)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(m => m.UpperImageDescription, new { placeholder = "Image description (Alt text)" })
                        <input type="button" class="confirm-edit btn btn-info" value="OK!" />
                    </div>
                    @Html.ValidationMessageFor(m => m.UpperImageDescription)
                </div>
            </div>
        </div>

        <div id="bottomPanel">
            <div class="property-editor" style="float: left; min-width: 55%; min-height: 325px">
                <div class="display-default" style="margin-bottom: 0;">
                    <div class="placeholder-img" style="min-height: 325px"><label style="margin:auto">Click to add image.</label></div>
                    @*@Html.LabelFor(m => m.LowerImageUrl)*@
                </div>
                <div class="display-field img" style="margin-bottom: 0;">
                    @Html.DisplayFor(m => m.LowerImageUrl, "Image")
                </div>
                <div class="editor-field" style="margin-bottom: 0;">
                    @Html.EditorFor(m => m.LowerImageUrl, "UploadImage")
                </div>
                @Html.ValidationMessageFor(m => m.LowerImageUrl)

                <div class="property-editor alt">
                    <div class="display-default">
                        @Html.LabelFor(m => m.LowerImageDescription)
                    </div>
                    <div class="display-field">
                        @Html.DisplayFor(m => m.LowerImageDescription)
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(m => m.LowerImageDescription, new { placeholder = "Image description (Alt text)" })
                        <input type="button" class="confirm-edit btn btn-info" value="OK!" />
                    </div>
                    @Html.ValidationMessageFor(m => m.LowerImageDescription)
                </div>
            </div>
            </div>
        </div>
</div>


<div class="narrow-container clearfix" style="padding: 40px 0">

    <div class="property-editor">
        <div class="display-default">
            @Html.LabelFor(m => m.Title)
        </div>
        <div class="display-field">
            @Html.DisplayFor(m => m.Title)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(x => x.Title, new { @class = "textarea" })
            <input type="button" class="confirm-edit btn btn-info" value="OK!" />
        </div>
        @Html.ValidationMessageFor(m => m.Title)
    </div>

    <div class="property-editor">
        <div class="display-default">
            @Html.LabelFor(m => m.Description)
        </div>
        <div class="display-field">
            @Html.DisplayFor(m => m.Description)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(x => x.Description, new { @class = "textarea" })
            <input type="button" class="confirm-edit btn btn-info" value="OK!" />
        </div>
        @Html.ValidationMessageFor(m => m.Description)
    </div>

    <strong>
        <div class="property-editor">
            <div class="display-default">
                @Html.LabelFor(m => m.ButtonDescription)
            </div>
            <div class="display-field">
                @Html.DisplayFor(m => m.ButtonDescription)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.ButtonDescription, new { placeholder = "Button text" })
                <input type="button" class="confirm-edit btn btn-info" value="OK!" />
            </div>
            @Html.ValidationMessageFor(m => m.ButtonDescription)
        </div>
    </strong>
</div>


<div class="narrow-container" style="border:solid black 1px">
    <label class="form-label">Mobile</label>
    <div class="property-editor" style="min-height: 350px; margin-bottom: 0;">
        <div class="display-default" style="margin-bottom: 0;">
            <div class="placeholder-img" style="min-height: 350px; margin-bottom: 0;" ">Click to add image.</div>
            @*@Html.LabelFor(m => m.MobileImageUrl)*@
        </div>
        <div class="display-field img" style="margin-bottom: 0;">
            @Html.DisplayFor(m => m.MobileImageUrl, "Image")
        </div>
        <div class="editor-field" style="margin-bottom: 0;">
            @Html.EditorFor(m => m.MobileImageUrl, "UploadImage")
        </div>
        @Html.ValidationMessageFor(m => m.MobileImageUrl)
    </div>


    <div class="property-editor" style="min-height: 150px;">
        <div class="display-default">
            <div class="placeholder-img" style="min-height: 150px">Click to add image.</div>
            @*@Html.LabelFor(m => m.MobileSecondaryImageUrl)*@
        </div>
        <div class="display-field img">
            @Html.DisplayFor(m => m.MobileSecondaryImageUrl, "Image")
        </div>
        <div class="editor-field">
            @Html.EditorFor(m => m.MobileSecondaryImageUrl, "UploadImage")
        </div>
        @Html.ValidationMessageFor(m => m.MobileSecondaryImageUrl)
    </div>
</div>
