@model Magic.Models.LandingPages.LandingPagePanel

@Html.HiddenFor(m => m.Id)
@Html.HiddenFor(m => m.Type)

<div class="editor-label">
    @Html.LabelFor(m => m.Title)
</div>
<div class="editor-field">
    @Html.EditorFor(m => m.Title)
    @Html.ValidationMessageFor(m => m.Title)
</div>

<div class="editor-label">
    @Html.LabelFor(m => m.Subtitle)
</div>
<div class="editor-field">
    @Html.EditorFor(m => m.Subtitle)
    @Html.ValidationMessageFor(m => m.Subtitle)
</div>

<div class="editor-label">
    @Html.LabelFor(m => m.Description)
</div>
<div class="editor-field">
    @Html.EditorFor(m => m.Description)
    @Html.ValidationMessageFor(m => m.Description)
</div>

<div class="editor-label">
    @Html.LabelFor(m => m.ImageUrl)
</div>
<div class="editor-field">
    @Html.EditorFor(m => m.ImageUrl, "UploadImage")
    @Html.ValidationMessageFor(m => m.ImageUrl)
</div>

<div class="editor-label">
    @Html.LabelFor(m => m.ImageDescription)
</div>
<div class="editor-field">
    @Html.EditorFor(m => m.ImageDescription)
    @Html.ValidationMessageFor(m => m.ImageDescription)
</div>