@model Autographer.Models.LandingPages.LandingPagePanel

@Html.HiddenFor(m => m.Id)
@Html.HiddenFor(m => m.Type)

<div class="property-editor" style="min-height: 70px;">
    <div class="display-default">
        <div class="placeholder-img" style="min-height: 70px;">Click to add image.</div>
        @*@Html.LabelFor(m => m.ImageUrl)*@
    </div>
    <div class="display-field img">
        @Html.DisplayFor(m => m.ImageUrl, "Image")
    </div>
    <div class="editor-field">
        @Html.EditorFor(m => m.ImageUrl, "UploadImage")
    </div>
    @Html.ValidationMessageFor(m => m.ImageUrl)

    <div class="property-editor alt">
        <div class="display-default">
            @Html.LabelFor(m => m.ImageDescription)
        </div>
        <div class="display-field">
            @Html.DisplayFor(m => m.ImageDescription)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(m => m.ImageDescription, new { placeholder = "Image description (Alt text)" })
            <input type="button" class="confirm-edit btn btn-info" value="OK!" />
        </div>
        @Html.ValidationMessageFor(m => m.ImageDescription)
    </div>
</div>



<div class="property-editor" style="margin-bottom: 0px;">
    <div class="display-default" style="margin-bottom: 0px;">
        @Html.LabelFor(m => m.Title)
    </div>
    <div class="display-field" style="margin-bottom: 0px;">
        @Html.DisplayFor(m => m.Title)
    </div>
    <div class="editor-field" style="text-align: center; margin-bottom: 0px;">
        @Html.TextBoxFor(x => x.Title, new { @class = "textarea" })
        <input type="button" class="confirm-edit btn btn-info" value="OK!" />
    </div>
    @Html.ValidationMessageFor(m => m.Title)
</div>

<div class="property-editor">
    <div class="display-default">
        @Html.LabelFor(m => m.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(m => m.Description)
    </div>
    <div class="editor-field" style="text-align: center;">
        @Html.TextBoxFor(x => x.Description, new { @class = "textarea" })
        <input type="button" class="confirm-edit btn btn-info" value="OK!" />
    </div>
    @Html.ValidationMessageFor(m => m.Description)
</div>