@model Magic.Models.UserViewModel

<h4>Your Player Presence</h4>
<hr />

@using (Html.BeginForm("ManageUserImage", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "Please enter correct values to update!")

    <div class="form-group">
        @Html.Label("Your chat color", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.ActionLink("Randomize my color.", "ManageUserColor", null, new { @class = "btn btn-default ", @style = "color:" + Model.ColorCode })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Image, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @if (Model.Image != null)
            {
                <img src="@Url.Content(Model.Image)" alt="Plainswalker @Model.UserName" />
            }
            @Html.TextBox("file", "Select an image...", new { type = "file", @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Image)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Upload Image" class="btn btn-default" />
        </div>
    </div>
}