@using Microsoft.AspNet.Identity;
@model Magic.Models.UserViewModel

@{
    ViewBag.Title = "Manage Account";
}

<h2>@ViewBag.Title.</h2>

@Html.Partial("_MessagePartial")

<p>You're logged in as <strong style="color:@Model.ColorCode">@Model.UserName@Model.Title</strong>.</p>

<div class="row">
    <div class="col-md-12">

        @*<div style="background-color:@Model.ColorCode;width:50px;height:50px"></div>*@

        @Html.Partial("_ManagePlayerPartial", Model, (ViewDataDictionary) ViewBag.ImageViewData)

        @Html.Partial("_ManageDetailsPartial", Model, (ViewDataDictionary) ViewBag.DetailsViewData)

        @Html.Partial((ViewBag.HasLocalPassword ? "_ManagePasswordPartial" : "_ManageNewPasswordPartial"), 
            new Magic.Models.ManagePasswordViewModel(), (ViewDataDictionary)ViewBag.PasswordViewData)
            
        <section id="externalLogins">
            @Html.Action("RemoveAccountList")
            @if (ViewBag.LoginProviders != null)
            {
                @Html.Partial("_ExternalLoginsListPartial", new { Action = "LinkLogin", ReturnUrl = Url.Action("Manage") })
            }
        </section>
    </div>
</div>
@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@
