@using Microsoft.AspNet.Identity;
@model Magic.Models.ManageUserDetailsViewModel

@{
    ViewBag.Title = "Manage Account";
}

<h2>@ViewBag.Title.</h2>

@Html.Partial("_MessagePartial")

<p>You're logged in as <strong>@Model.UserName@Model.Title</strong>.</p>

<div class="row">
    <div class="col-md-12">
        @Html.Partial("_ManageUserDetailsPartial", Model, (ViewDataDictionary) ViewBag.DetailsViewData)

        @if (ViewBag.HasLocalPassword)
        {
            @Html.Partial("_ChangePasswordPartial", new Magic.Models.ManagePasswordViewModel(), (ViewDataDictionary) ViewBag.PasswordViewData)
        }
        else
        {
            @Html.Partial("_SetPasswordPartial", new Magic.Models.ManagePasswordViewModel(), (ViewDataDictionary) ViewBag.PasswordViewData)
        }

        <section id="externalLogins">
            @Html.Action("RemoveAccountList")
            @Html.Partial("_ExternalLoginsListPartial", new { Action = "LinkLogin", ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
</div>
@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
