@model ProfileViewModel
@using Magic.Helpers
@{
    ViewBag.Title = Model.UserName + "'s Player Profile";
}

<h1>@Html.DisplayFor(m => m.UserName), @Html.DisplayFor(m => m.Title)</h1>
@if (Model.IsCurrentUser)
{
    <p class="text-success">This is you!</p>
}

@Html.DisplayFor(m => m.Image, "Image");

@Html.DisplayFor(m => m.LastLoginDate);

@Html.DisplayFor(m => m.Status);

@if (User.Identity.IsAuthenticated && !Model.IsCurrentUser)
{
    <div id="friendship-status">
        @Html.ActionLinkElement(
            Ajax.ActionLink((Model.IsFriend ? "Remove from friends" : "Add to friends"), "AddOrRemoveFriend", "Chat", new { userId = Model.Id },
                new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "friendship-action", InsertionMode = InsertionMode.Replace }),
                  "<span id=\"friendship-action\">" + (Model.IsFriend ? "Remove from friends" : "Add to friends") + "</span>")
    </div>
}

@Scripts.Render("~/bundles/jqueryajax")
