@model IEnumerable<Magic.Models.Card>

@{
    ViewBag.Title = "All your cards.";
}

<h2>All your cards.</h2>
@Html.Partial("_MessagePartial")

<p>
    @Html.ActionLink("Add new Card", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", item) |
                    @Html.ActionLink("Delete", "Delete", item)
                </td>
            </tr>
        }
    </tbody>
    <tfoot></tfoot>
</table>
