@model IEnumerable<Magic.Models.Card>

@{
    Layout = "~/Views/Shared/_LayoutCms.cshtml";
    ViewBag.ModelTypeName = ViewData.ModelMetadata.ModelType.GenericTypeArguments[0].Name.ToLower();
    ViewBag.Title = "All your " + ViewBag.ModelTypeName + "s";
}

<p>
    @Html.ActionLink("Add new " + (string)ViewBag.ModelTypeName, "Create", null, new { @class = "btn btn-primary" })
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", item) |
                    @Html.ActionLink("Delete", "Delete", item)
                </td>
            </tr>
        }
    </tbody>
    <tfoot></tfoot>
</table>
