@model IEnumerable<Magic.Models.Chat.ChatLog>

@{
    ViewBag.Title = "All saved Chats";
}

<h2>All saved Chats</h2>
@Html.Partial("_MessagePartial")

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Date")
            </th>
            <th>
                @Html.DisplayName("Messages")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Messages.Count)
                </td>
                <td>
                    @Html.ActionLink("View", "Messages", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "ChatLogDelete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
    <tfoot></tfoot>
</table>
