@using Juza.Magic.Helpers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | justyna.heinbockel</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/chat.css")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquerysignalR")
    @*@Scripts.Render("~/Scripts/underscore.js")*@
    @*@Scripts.Render("~/Scripts/_helpers.js")
    @Scripts.Render("~/signalr/hubs")*@

    @RenderSection("additionalHeaderScriptsAndStyles", required: false)

</head>
<body>
    <!-- Google Tag Manager -->
    <noscript>
        <iframe src="//www.googletagmanager.com/ns.html?id=GTM-KZJCWG" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
            '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-KZJCWG');
    </script>
    <!-- End Google Tag Manager -->

    @{ Html.RenderPartial("_NavBarPartial"); }

<div class="container body-content">
    
    @RenderBody()

    <hr/>
    <div class="row">
        <div class="col-md-10">
            @{Html.RenderPartial("_ChatPartial");}
        </div>
    </div>
    <footer>
        <p>&copy; @DateTime.Now.Year Justyna</p>
    </footer>
</div>

<script src="~/Scripts/require.js"></script>
<script>
    window.basePath = '@PathHelper.GetAppBaseUrl()';
    @Html.RequireScriptsForCurrentRoute();
</script>

    @*@Scripts.Render("~/Scripts/_hub-start.js")*@
    @RenderSection("scripts", required: false)
</body>
</html>
