@model IEnumerable<Magic.Models.Game>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
@Html.Partial("_MessagePartial")

<p>
    @Html.ActionLink("Create new Game", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayName("Players")
            </th>
            <th>
                @Html.DisplayName("Status")
            </th>
            <th>
                @Html.DisplayName("Game Time")
            </th>
            <th>
                @Html.DisplayName("Observers")
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink("Join!", "Join", new { id = item.Id })
                </td>
                <td>
                    @if (item.Players.Any())
                    {
                        foreach (var player in item.Players)
                        {
                            var playerStyling = "color:" + player.User.ColorCode + (player.Status == GameStatus.Unfinished ? ";padding: 3px;border:1px solid" + player.User.ColorCode : (item.DateStarted.HasValue ? ";font-weight:bold" : ";"));

                            @Html.ActionLink(player.User.UserName, "Profile", "Account", new { id = player.User.UserName },
                            new { style = playerStyling })
                            @: @*Insert space*@
                        }
                    }
                    else
                    {
                        @Html.DisplayName("None")
                    }
                </td>
                <td>
                    @{ var status = item.DateStarted == null ? "Starts soon" : (item.DateEnded == null ? "In progress" : "Ended"); }
                    @Html.DisplayName(@status)
                </td>
                <td>
                    @{ var timeElapsed = item.DateStarted == null ? new TimeSpan(0) : DateTime.Now - item.DateStarted; }
                    @Html.DisplayName(timeElapsed.Value.TotalMinutes.ToString("F0") + " min")
                </td>
                <td>
                    @(item.Observers.Any() ? Html.DisplayFor(x => item.Observers.Count) : Html.DisplayName("None"))
            </td>
        </tr>
        }
    </tbody>
    <tfoot>
    </tfoot>

</table>
