@model IEnumerable<Magic.Models.GameViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create new Game", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayName("Players")
            </th>
            <th>
                @Html.DisplayName("Status")
            </th>
            <th>
                @Html.DisplayName("Game Time")
            </th>
            <th>
                @Html.Display("Observers")
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            //<script>alert('@item');</script>
            <tr>
                <td>
                    @Html.ActionLink("Join!", "Join", new { Id = item.Id })
                </td>
                <td>
                    @if (item.Players.Count > 0) {
                    foreach (var player in item.Players)
                    {
                        <script>alert('@player');</script>
                        @Html.DisplayFor(x => player.User.UserName)
                    }
                    }
                    else{@Html.Display("None")}
                </td>
                <td>
                    @{ var status = item.DateStarted == null ? "Starts soon" : (item.DateEnded == null ? "In progress" : "Ended"); }
                    @Html.Display(@status)
                </td>
                <td>
                    @{ var timeElapsed = DateTime.Now - item.DateStarted; }
                    @Html.Display(@timeElapsed.ToString())
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Observers.Count)
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
    </tfoot>

</table>
