@model IEnumerable<Magic.Models.Card>

<h2>All your cards.</h2>
@Html.Partial("_MessagePartial")

<p>
    @Html.ActionLink("Add a new card.", "Create")
</p>
<table>
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                CardColors
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @item.Name
                </td>
                <td>
                    @(item.CardColors == null ? "None" : item.CardColors.Count.ToString())
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", item) |
                    @Html.ActionLink("Delete", "Delete", item)
                </td>

            </tr>
        }
    </tbody>
    <tfoot>

    </tfoot>

</table>
